@charset "UTF-8";
/* 调整其它页面样式 begin*/
.con-me_right_announce, .con-me_others {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.cm_ths_recruit {
    margin-right: 0;
    
}

.cm_ths_recruit_content p a {
    height: auto;
    line-height: inherit;
}
 
.cm_ths_recruit_content p a:first-child {
    margin-right: 43px;
}

.cm_ol_content {
    width: 340px;
}

.cm_ol_content a {
    height: auto;
    line-height: inherit;
    color: #CD000F;
}

.cm_ol_content p:hover .cm_ol_arrow {
    margin-right: 5px;
}

.cm_ol_arrow {
    vertical-align: middle;
    -webkit-transition: margin-right .2s;
    transition: margin-right .2s;
}

.menu button:focus {
    outline: none;
}

.capital-index {
    background-image: url("../Images/3.jpg");
    background-size: cover;
    background-position: center center;
}

/* 调整其它页面样式 end*/
/* fix 冲突 begin*/

.link {
    height: auto;
    line-height: 20px;
}

.icon-link {
    height: auto;
    line-height: inherit;
}

.modal-schedule .buy {
    height: auto;
}

.modal-schedule .buy .fa-play {
    vertical-align: baseline;
}

.section-topics .list-topics-navs .fa {
    vertical-align: baseline;
}

.section-schedule,
.section-topics {
    font-size: 14px;
}

@media (max-width: 1500px) {
    .fp-tableCell {
        zoom: 0.8;
    }
}

/* fix 冲突 end*/
/* 大会日程、大会议题 样式 begin*/

.link {
    position: relative;
    color: #444444;
}

.link:hover, .link.active {
    color: #cd000f;
}

.link:hover:after, .link.active:after {
    background-color: #cd000f;
}

.link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px;
    background-color: #444;
    width: 100%;
}

.icon-link {
    position: absolute;
    left: 1400px;
    right: 100px;
    width: 25px;
}

.icon-link.active .has-content {
    width: 25px;
}

.icon-link.active .has-content:before {
    width: 25px;
}

.icon-link .has-content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 13px;
    height: 1px;
    background-color: #cd000f;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.icon-link .has-content:before, .icon-link .has-content:after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #cd000f;
    z-index: 10;
    left: 0;
}

..icon-link .has-content:before {
    width: 18px;
    bottom: 5px;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.icon-link .has-content:after {
    width: 25px;
    top: 6px;
}

.modal-schedule {
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.modal-schedule.show {
    z-index: 2000;
    opacity: 1;
}

.modal-schedule .schedule-detail-list {
    position: absolute;
    width: 980px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.modal-schedule .schedule-detail {
    padding-bottom: 23px;
    border-bottom: 5px solid #ddd;
}

.modal-schedule .schedule-detail:focus {
    outline: none;
}

.modal-schedule .schedule-detail .title .en {
    font-size: 52px;
    color: #666;
}

.modal-schedule .schedule-detail .title .zh {
    font-size: 18px;
    color: #cd000f;
}

.modal-schedule .schedule-detail .title .zh:after {
    content: '';
    display: block;
    width: 20px;
    margin-top: 30px;
    height: 2px;
    background-color: #cd000f;
}

.modal-schedule .schedule-detail .intro {
    max-width: 780px;
    margin-top: 30px;
    color: #8f8f8f;
    line-height: 1.7;
}

.modal-schedule .schedule-detail .teacher {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 27px 0;
    margin: 27px 0;
}

.modal-schedule .schedule-detail .teacher .info {
    display: inline-block;
    margin-left: 30px;
    max-width: 750px;
}

.modal-schedule .schedule-detail .teacher .name {
    font-size: 24px;
    color: #666;
}

.modal-schedule .schedule-detail .join .ti {
    font-size: 18px;
    color: #cd000f;
    margin-bottom: 15px;
}

.modal-schedule .schedule-detail .join .fa {
    margin-right: 3px;
}

.modal-schedule .schedule-detail .join .term {
    padding-right: 17px;
    color: #666666;
}

.modal-schedule .buy {
    position: absolute;
    right: 60px;
    bottom: 60px;
    line-height: 43px;
    border: 1px solid #cd000f;
    border-radius: 23px;
    font-size: 24px;
    color: #cd000f;
    padding: 0 20px;
}

.modal-schedule .buy .fa-play {
    font-size: 14px;
    vertical-align: 3px;
}

.modal-schedule .buy:hover {
    background-color: #e60012;
    color: #fff;
}

.modal-schedule .buy:hover .fa-play {
    color: #fff;
}

.modal-schedule .fa-times {
    position: absolute;
    top: 60px;
    right: 60px;
    font-size: 30px;
    color: #666;
    opacity: .5;
    cursor: pointer;
    transition: transform .2s;
}

.modal-schedule .fa-times:hover{
    transform: rotate(180deg);
}

.section-topics {
    background-image: url("../Images/section-topics-bg.jpg");
    background-size: cover;
    background-position: center;
}

.section-topics .section-topics-title {
    margin-bottom: 80px;
}

.section-topics .list-topics {
    width: 1049px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
}

.section-topics .list-topics .item-topic {
    position: relative;
    display: inline-block;
    height: 470px;
    margin: 0 10px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.section-topics .list-topics .item-topic.reverse .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border: 1px solid #cd000f;
}

.section-topics .list-topics .item-topic:focus {
    outline: none;
}

.section-topics .list-topics .flipper {
    position: relative;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 20px;
    width: 228px;
    height: 427px;
}

.section-topics .list-topics .card-front,
.section-topics .list-topics .card-back {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.section-topics .list-topics .card-front {
    padding: 17px 25px;
    background-color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80%);
}

.section-topics .list-topics .card-front img {
    display: inline-block;
}



.section-topics .list-topics .card-front:before {
    left: 17px;
    top: 17px;
}

.section-topics .list-topics .card-front:after {
    right: 17px;
    bottom: 17px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.section-topics .list-topics .topic-title {
    text-align: left;
    color: #0c0a00;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-topics .list-topics .topic-title:after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 17px;
    height: 3px;
    background-color: #cd000f;
}

.section-topics .list-topics .topic-intro {
    text-align: left;
    color: #aaaaaa;
    line-height: 1.7;
}

.section-topics .list-topics .card-back {
    background-color: #000;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.section-topics .list-topics .card-back img {
    position: absolute;
    left: 11px;
    top: 11px;
}

.section-topics .list-topics .author {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
    font-size: 30px;
}

.section-topics .list-topics .author .intro {
    position: relative;
    z-index: 1;
    color: #0c0a00;
    font-size: 14px;
    margin-top: 30px;
    line-height: 1.7;
}

.section-topics .list-topics .author .intro:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 1px;
    background-color: #fff;
}

.section-topics .list-topics-navs {
    position: absolute;
    text-align: right;
    right: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #666;
    font-size: 30px;
}

.section-topics .list-topics-navs .position {
    color: #cd000f;
}

.section-topics .list-topics-navs .arrows {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #585858;
    cursor: pointer;
}

.section-topics .list-topics-navs .arrows:hover {
    background: #cd000f;
    border-color: #cd000f;
}

.section-topics .list-topics-navs .arrows:hover .fa {
    color: #fff;
}

.section-topics .list-topics-navs .fa {
    font-size: 30px;
    color: #585858;
}

.section-topics .list-topics-navs .dots-wrapper {
    position: relative;
}

.section-topics .list-topics-navs .dots-wrapper .slick-dots {
    position: static;
}

.section-topics .list-topics-navs .dots-wrapper:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #666;
}

.section-topics .list-topics-navs .dots-wrapper li {
    float: left;
    width: 42px;
    height: 3px;
    margin: 0;
    padding: 0;
}

.section-topics .list-topics-navs .dots-wrapper li.slick-active button {
    background-color: #cd000f;
}

.section-topics .list-topics-navs .dots-wrapper li button {
    height: 3px;
    padding: 0;
    background: transparent;
    width: 100%;
}

.section-topics .list-topics-navs .dots-wrapper li button:before {
    display: none;
}

/* 大会日程、大会议题 样式 end */


/*购票通道样式 begin*/
.west-kcon .section-buy-tickets .content-wrapper {
    width: 1080px;
    margin: 0 auto;
    text-align: left;
}

.section-buy-tickets .choose-ticket {
    float: left;
    width: 450px;
}

.section-buy-tickets .tooltip-inner {
    max-width: none;
    word-break: keep-all;
    width: 180px;
    background-color: #fff;
    border: 1px solid #cd0010;
    color: #cd0010;
}

.purchase-selected .tooltip-inner {
    width: 140px;
}

.section-buy-tickets .tooltip.top .tooltip-arrow {
    border-top-color: #cd0010;
}

.conference-info {
    width: 600px;
    float: right;
    border: 1px solid #e1e1e1;
    padding: 20px 15px;
}


.choose-ticket .middle-title {
    border-left: 4px solid #cd0010;
    padding-left: 12px;
    color: #000;
    font-weight: normal;
    margin-bottom: 20px;
}

.choose-ticket .middle-title span {
    color: #666666;
    padding-left: 5px;
}

.choose-ticket .capital-ticket .ticket-co-wrapper {
    position: absolute;
    top: 24px;
    /*transform: translateY(-50%);*/
}

.choose-ticket .ticket1 .ticket-co-wrapper {
    top: 2px;
}

.choose-ticket .ticket1 .ticket-co-wrapper .jieshao{
    padding: 0 10px 0 10px;
}

.choose-ticket .capital-ticket {
    color: #8f8f8f;
}

.btn-pri {
    width: 186px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    background-color: #cd0010;
    text-align: center;
    border-radius: 4px;
    padding: 0;
}

.btn-pri:hover {
    color: #fff;
    background-color: #ad0010;
}

/*购票通道样式 end*/

@media (max-width: 1500px) {
    .section-topics .list-topics .card-front {
        padding: 17px 13px;
    }
}