body {
  font-size: 12px;
  overflow-x:hidden;
}
.set-top-left { position: absolute; left: 3%; top: 3%; }
.set-top-right { position: absolute; right: 3%; top: 3%; }
.sec-foot-left { position: absolute; left: 3%; bottom: 4%; }
.set-foot-right { position: absolute; right: 3%; bottom: 4%; }
.capital-index { background:#000 url(../Images/bg2.jpg) center center no-repeat; }
.pc { position: absolute; top: 50%; left: 50%; }
.trans { transition: all 0.3s; -webkit-transition: all 0.3s; }
i { display: inline-block; vertical-align: middle; background-repeat: no-repeat; font-weight: normal; }
.i-logo { width: 87px; height: 87px; background-image: url(../Images/logo.png); }
.i-logo-gray { width: 87px; height: 87px; background-image: url(../Images/logo-gray.png); }
.i-more { width: 26px; height: 26px; background-image: url(../Images/i-more.png); }
.bt { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; }
.bt-buy, .bt-buy:before, .bt-buy:after { border-radius: 50%; transition: all 0.3s; -webkit-transition: all 0.3s; }
.bt-buy { height: 86px; width: 86px; border: 1px solid #d80c20; position: relative; color: #d80c20; line-height: 1; }
.bt-buy:before, .bt-buy:after { content: ""; position: absolute; top: 50%; left: 50%; }
.bt-buy:before { height: 100px; width: 100px; margin: -50px 0 0 -50px; border: 1px solid rgba(219,12,34,0.6); }
.bt-buy:after { height: 128px; width: 128px; margin: -64px 0 0 -64px; border: 1px solid rgba(219,12,34,0.2); }
.bt-buy:hover:after { height: 100px; width: 100px; margin: -50px 0 0 -50px; opacity: 0; }
.bt-buy:hover:before { height: 86px; width: 86px; margin: -43px 0 0 -43px; opacity: 0; }
.bt-buy i { margin-top: 20px; width: 21px; height: 14px; background-image: url(../Images/bt-buy.png); }
.bt-buy strong { position: absolute; bottom: 20px; left: 0; width: 100%; }
.copyright { color: #aaa; }
.menu { font-size: 0; text-align: center; white-space: nowrap; }
.menu button, a { display: inline-block; font-size: 14px; color: #fff; height: 60px; line-height: 60px; vertical-align: middle; }
.menu button { position: relative; width: 60px; background-color: #cd000f; border: 1px solid #cd000f; overflow: hidden; }
.menu button:active { background-color: #330e11; }
.menu button i { position: relative; width: 12px; height: 9px; position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -6px; line-height: 200px; overflow: hidden; border:solid #fff; border-width: 1px 0 1px 0;  vertical-align: top; }
.menu button i:before{ content: ""; position: absolute; top:50%;  left: 0; width: 100%; border-top: 1px solid #fff; }
.menu a { border: 1px solid transparent; padding: 0 2em; margin: 0 5px; transition: all 0.3s; -webkit-transition: all 0.3s; }
.menu a:hover { color: #fff; }
.menu a.active, .menu a:hover { border-color: #cd000f; }
.menu-dark a, .menu-dark a:hover{ color:#333; }
.menu-dark.off button i { border-color: #333; }
.menu-dark.off button i:before{ border-top: 1px solid #333; }
.menu.off button { background-color: transparent; border-width: 1px 0 0 1px; }
.menu.off button:before { content: ""; position: absolute; top: -17px; left: 50%; height: 89px; border-left: 1px solid #cd000f; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.menu.off button i { margin: -13px 0 0 -18px; }
.menu.off button i:before{ margin-top: -1px; }
.menu.off a { visibility: hidden; opacity: 0; margin-left: -10px; }

/*第一屏*/
.p1-txt { font-size: 16px; float: left;  width: 100%; text-align: center; color: #fff; margin-top: 14px;}
.p1-txt span { display: inline-block; letter-spacing: 20px; position: relative; padding: 0 1em; margin-bottom: 10px; }
.p1-txt span:before, .p1-txt span:after { content: ""; position: absolute; border: solid #fff; width: 5px; height: 10px; }
.p1-txt span:before { top: 0; left: 0; border-width: 1px 0 0 1px; }
.p1-txt span:after { right: 0; bottom: 0; border-width: 0 1px 1px 0; }
.p1-txt strong { font-weight: normal; letter-spacing: 1px; }
.p1-txt .s_hr { border-left: 1px solid #fff; height: 8px; margin: 0 20px; }
.p1-txt .i-more { position: absolute; top: -10px; left: 100%; margin-left: 20px; }
.i-more:hover { transform: scale(0.8); -webkit-transform: scale(0.8); }
.p1-more1 { height: 300px; width: 300px; position: absolute; top: 3%; left: 50%; margin-left: 10px; }
.p1-o.on { visibility: visible; opacity: 1; margin-top: 0; }
.p1-o { visibility: hidden; opacity: 0; margin-top: 20px; color: #fff; position: absolute; left: 50%; text-align: justify; line-height: 1.5; }
.p1-o p { margin-bottom: 0; }
.p1-o .s_in { margin: 20px 30px 0; }
.p1-o1 { font-size: 14px; width: 620px; margin-left: -310px; top: 10%; height: 124px; background: url(../Images/o1.png) center center no-repeat; }
.p1-o2 { font-size: 12px; width: 716px; margin-left: -358px; top: 63%; height: 153px; background: url(../Images/o2.png) center center no-repeat; }
.p1-o .s_close { position: absolute; right: 42px; bottom: 13px; height: 25px; width: 32px; cursor: pointer; }
/*第四屏*/
.section-partner{ padding-top: 0; }
.w50p{ width: 50%; }
.mb30{ margin-bottom: 30px; }
.p-partners{ background: #f7f7f7 url(../Images/bg.png) repeat; }
.partner-wrap{ height: 340px; max-width: 980px; margin: 3% auto 5%;  }
.partner-item{ text-align: left; }
.partner-item h3{ line-height: 1; font-size: 24px; color:#444444; border-left: 4px solid #cd000f; padding-left: 10px; }
.i-partners{ font-size: 0; margin: 0 -4px; }
.i-partners .i-partner{ margin: 4px; width: 238px; height: 58px; line-height: 58px; }
.i-partner{ display: inline-block; height: 65px; line-height: 65px; width: 278px; border: 1px solid #ddd; text-align: center; background-color: #fff; }
/*联系我们*/
.section-contact { background: #000 url(../Images/bg.jpg) center top no-repeat; }
.contact-me { margin: 0 auto; max-width: 980px; color: #fff; font-size: 14px; margin-top: 5%; }
.contact-me p { margin-bottom: 0; line-height: 1.8; }
.con-me_right_announce, .con-me_others { border-top: 1px solid #939393; padding: 24px 0; }
.contact-me_undersocre { margin: 10px 0; }
.cm_ra_title, .cm_ths_cw_title, .cm_ths_recruit_title { color: #CD000F; font-size: 16px; font-weight: bold; }
.cm_ths_contact_way, .cm_ths_recruit { float: left; margin-right: 105px; }
.cm_ths_follow_me { float: right; }
.cm_ths_recruit_content p span:hover { color: #CD000F; cursor: pointer; }
.cm_ths_recruit_content p span:first-child { margin-right: 43px; }
.con-me_others:after { content: ''; display: block; height: 0; clear: both; }
.cm_ths_follow_me { float: right; height: 94px; line-height: 94px; }
.cm_ths_follow_me a { position: relative; margin: 0 20px; }
.cm_ths_follow_me a i { content: ''; position: absolute; top: 50%; left: 50%; cursor: pointer; height: 0; width: 0; border-radius: 50%; border: 1px solid #CD000F; visibility: hidden; transition: all 0.3s; -webkit-transition: all 0.3s; }
.cm_ths_follow_me a:hover i { visibility: visible; width: 94px; height: 94px; margin: -47px 0 0 -47px; }
.i-share { width: 34px; height: 31px; background: url(../Images/share.png) no-repeat; }
.i-share-1:hover { background-position: 0 0; }
.i-share-1 { background-position: 0 -32px; }
.i-share-2:hover { background-position: 0 -64px; }
.i-share-2 { background-position: 0 -96px; }
.i-share-3:hover { background-position: 0 -128px; }
.i-share-3 { background-position: 0 -160px; }
.i-share-4:hover { background-position: 0 -192px; }
.i-share-4 { background-position: 0 -224px; }
.i-share-5:hover { background-position: 0 -256px; }
.i-share-5 { background-position: 0 -288px; }
.i-share-5 img { position: absolute; top: 50%; left: 50%; margin-top: -40px; margin-left: 40px; border: 1px solid #cd000f; padding: 8px; width: 0; height: 0; visibility: hidden; }
.i-share-5:hover img { width: 108px; height: 109px; visibility: visible; }
.cm_ol_arrow { background: url("../Images/arrow.png") no-repeat; width: 33px; height: 18px; display: inline-block; margin-right: 22px; }
.con-me_other_links { border-top: 10px solid rgba(111, 111, 111, 0.2); text-align: center; }
.cm_ol_content { display: inline-block; padding: 1em 5em; color: #CD000F; border: 5px solid rgba(205, 0, 15, 0.4); margin-top: 26px; font-size: 18px; font-weight: bold; }
.cm_ol_content p { margin-bottom: 0; }
.contact-me_undersocre { background-color: #CD000F; width: 20px; height: 4px; }
.con-me_footer { color: #939393; }

.right-bar div {
  text-align: left;
}
.right-bar img {
  padding-bottom: 5px;
  width: 20px;
}

.middle-title {
  font-weight: bolder;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.receiver-address {
  margin-top: 30px;
}

.receiver-address .middle-title {
  padding-left: 10px;
  border-left: 4px solid red;
}

.product-list .middle-title {
  padding-left: 10px;
  border-left: 4px solid red;
}

.buy-notice {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-light {
  padding-left: 10px;
  border-left: solid 4px red;
}

.capital-ticket {
  padding: 10px;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
}

.ticket1 {
  border: dashed 1px #aaa;
}

.ticket2 {
  border: solid 1px #aaa;
}

.capital-ticket.selected {
  border: solid 3px #cb081c;
}

.capital-ticket.selected .icon-check{
  right: 0px;
  bottom:0px;
  width:17px;
  height:18px;
  position:absolute;
  background:url("../Images/selected.png")
}

/*.capital-ticket div {*/
  /*text-align: left;*/
  /*margin-bottom: 5px;*/
/*}*/

.purchase-selected {
    display: inline-block;
    padding: 0 10px;
border: solid 1px #e1e1e1;
    line-height: 40px;
    width: 670px;
}
.purchase-selected .c-counter{
    float: right;
}

.purchase-selected .c-counter{
    /*border:1px solid #eaeceb;*/
    height: 30px;
}
.purchase-selected .c-counter .minus,
.purchase-selected .c-counter .plus,
.purchase-selected .c-counter input{
    height: 30px;
    line-height: 28px;
    width: 30px;

}
.purchase-selected .c-counter input{
    width: 40px;
    background: #fff;
    border: solid 1px #e1e1e1;
    margin: 0 -3px;
}

.receiver-address .desc {
  padding-left: 10px;
  font-size: 12px;
  padding-top: 5px;
  color: #aaa;
}

.desc {
  padding-left: 10px;
  font-size: 12px;
  padding-top: 5px;
  color: #aaa;
}

.oper {
  padding-left: 10px;
  font-size: 13px;
  padding-top: 5px;
  color: #aaa;
  font-weight: 400;
  cursor: pointer;
}

.receiver-address .field-label {
  padding-left: 10px;
  font-size: 13px;
  color: #aaa;
}

.receiver-address .title {
  text-align: right;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.state-menu ul {
  list-style: none;
  margin: 5px;
  font-size: 13px;
}

.product-list {
  margin-top: 20px;
}

.total-account {
  color: red;
  font-weight: bolder;
}

.product-list .header th {
  font-size: 13px;
  text-align: center;
}

.product-list table tr {
  border: 1px;
  height: 40px;
  border: 1px solid white;
}

.product-list .header {
  height: 30px;
}

.product-list table {
  background-color: #f4f4f4;
}

.product-list .content td {
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  border-right: 1px solid white;
}

.state-menu li {
  height: 30px;
  color: #aaa;
  font-size: 12px;
}

.state-menu li > span {
  font-weight: bolder;
}

.state-menu .current {
  color: red;
}

.info-content {
  font-size: 12px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #f4f4f4;
  height: 40px;
}

.sparator {
  margin-top: 20px;
}

.middle-sparator {
  margin-top: 10px;
}

.large-sparator {
  margin-top: 150px;
}

.middle-icon {
  font-size: 18px;
  color: #000;
}

.middle-indent {
  padding-left: 12px;
}

.purchase-contact-us {
  border:1px solid red;
  padding:4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-radius:20px;
}

.purchase-success .purchase-info {
  background-color:#f4f4f4;
  padding:12px;
  height: 282px;
}

.receiver-address tr {
  line-height: 25px;
}

.receiver-address label {
  width: 50px;
  text-align: right;
  padding-right: 10px;
}

.receiver-address small {
  margin-left: 52px;
  margin-top: 0px;
}

.capital-fullpage-dot-indicator{
  position:fixed;
  z-index:8;
  top:50%;
  /*right:80px;*/
  height:135px;
  margin-top:-70px;
  list-style:none;
  text-align:left;
}

.capital-fullpage-dot-indicator li{
  width:26px
}
.capital-fullpage-dot-indicator a{
  display:inline-block;
  width:6px;
  height:6px;
  border: 1px solid #ddd;
  -webkit-transition:width .3s;
  transition:width .3s
}

.capital-fullpage-dot-indicator .active a{
  width:80px;
  border: 0;
  height: 1px;
  background-color:#cd000f;
  opacity:1
}

.menu-expend {
  padding-top: 13px;
  width:50px;
  height:50px;
  background-color:red;
  margin-left:53px;
}

.menu-expend i {
  color:#fff;
  font-size:14px;
}

.menu-content {
  color:white;
  padding-top:12px;
}

.menu-content span {
  margin:10px;
  padding: 15px;
}

.price-label {
  position: absolute;
  background-color: #cb081c;
  color: #fff;
  padding: 5px;
  width: 80px;
  top: 20px;
  right: -10px;
}

.capital-ticket .price-label {
  text-align: center;
}
.advisor-title { position: absolute; top: 10%; left: 40%;}
.advisor-content {
  /*position: absolute;
  top: 35%;
  left: 20%;*/
  width: 1020px;
  margin: auto;
}
.advisor-content .profile {
  margin-right:20px;
  height:230px;
  width:230px;
}

.advisor-label {
  color: #fff;
}

.t-head {
  font-size: 18px;

}
.t-head b{
  font-weight: bold;
  color: #444444;
}

.t-title {
  margin: 5px 0;
  font-size: 14px;
}
.t-title b {
  font-weight: normal;
  color: #444;
}

