
<div class="section section-weapons">
        
        <div class="set-top-right">
            <i class="i-logo-gray"></i>
        </div>

        <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">欢迎</a>
          <a href="#arsenal" class="active">悦目</a>
          <a href="#partners">众乐</a>
          <a href="#tickets">长谈</a>
          <a href="#contact_us">我们</a>
        </div>
    </div>
        

<div class="sec-foot-left">
    <div class="copyright">Copyright © 宏奕工作室ABC组</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>分享</strong>
    </a>
</div>

        <ul class="list-weapon">
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">先骕楼</div>
                   
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">惟义楼</div>
                  
                </div>
            </li>
                 <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">知行楼</div>
                  
                </div>
            </li>
              <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">方荫楼</div>
                 
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">图文信息中心</div>
                    
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">音乐艺术广场</div>
                   
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">杏岭书院</div>
                 
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">校史钟</div>
                   
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">鹅湖湾</div>
                  
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">桃李鼎</div>
                 
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">校址纪念碑</div>
                
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Picture/weapon-icon.png" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>
                    <div class="name">鹿鸣亭</div>
                </div>
            </li>
            
        </ul>
        <div class="weapon-info-wrapper">
            <i class="fa fa-times" aria-hidden="true"></i>

            <div class="list-weapon-info-nav">
                <div class="arrow up"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                <div class="arrow down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </div>
            <ul class="list-weapon-info">
                
                <li class="item">
                    <h3 class="name">先骕楼</h3>
                      <div class="organ"></div>
                    <div class="info">
                        <b>景点介绍：</b><br><b>为纪念江西师范大学（原国立中正大学）首任校长胡先驌先生而建。现主要为学校计算机工程学院，软件工程学院，数学与信息工程学院的办公大楼。
                        <br>先骕楼结构是学校教学办公楼中最复杂的，楼内走道是不规则回形，路线图形似婴儿脖子上挂的如意锁。因此，许多对先骕楼不熟悉的同学来过之后会有“迷路”的感慨。   其实，和其它大楼相似，先骕楼也分为五个区，第一到第四个区分别是物理与通信电子学院、数学与信息科学学院、计算机信息工程学院、软件学院，最南面的五区则是学校党政办公大楼，有个独立的南门。与同学们关系较密切的财务处、教务处均在二楼办公，组织部、宣传部、新闻中心等也都在此，其它还有人事处、科研处、国际交流处、统战部、监审处、教师教育处等。   先骕楼一楼正中央，是学校“实验剧场”，能容纳500多人，学校一些比较大型的报告讲座、文艺演出、话剧表演、辩论比赛等等活动，都有可能会在这里举行。从先骕楼正大门台阶底下可以进入实验剧场。</b>
                    </div>
                    <a target="_blank" class="link" href="https://dnsdb.io"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">JavaRasp</h3>

                    <div class="organ">he1renyagao</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>JavaRasp 是一个可攻可守的安全工具，主要功能是通过结合应用程序的上下文分析漏洞及攻击行为，并对攻击行为采取相应的防护手段。 工具采用的是一种新的技术方法 RASP （Runtime Application Self Protect） ，相对传统的防护软件，防护效果更为准确。</br>
能对 SQL 注入、CSRF、XSS、SSRF、任意文件读取、任意文件删除、可执行文件上传、命令执行、远程代码执行（Struts2 命令执行，反序列化)等多种攻击类型提供准确的安全防护。</br>
在提供准确的攻击防护时，也具备漏洞预警效果，若结合扫描器，即可对 Web 应用做灰盒测试。</br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        JavaRasp 作者，安全研究员
                    </div>
                    <a target="_blank" class="link" href="http://www.javarasp.com"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">HackReader</h3>

                    <div class="organ">UnicornTeam</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>HackReader 作为揭示闪付银行卡风险隐患的工具，有助于提高持卡人风险安全意识。</br>
HackReader 非常便携隐蔽，在不经意间靠近持卡人的银行卡就能够获取卡内的敏感信息，例如银行卡号、姓名、身份证号、有效期、最近的十笔交易记录等。凭借闪付卡可读取的信息，想要拼凑出持卡人的生活、经济情况并非难事，而这很容易诱发相应的不法行为。</br>
针对这种攻击方式，可以采用“360安全卡套”和“360卡防”这两种有效的防范措施。</br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        360独角兽团队是由多名资深安全研究人员组成的专业安全研究团队，聚焦无线电（WiFi、NFC、RF、Zigbee、GPS、LTE、GPRS...）与硬件（嵌入式设备、智能硬件、智能汽车、无人机...）安全研究，研究成果多次发表在极具影响力的安全峰会（BlackHat、DEFCON、CanSecWest、HITB、POC、XCON、SyScan360、ISC ）上，团队出版的《无线电安全攻防大揭秘》蝉联亚马逊本类最畅销书籍。
                    </div>
                    <a target="_blank" class="link" href="http://unicorn.360.cn/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">微步威胁分析平台</h3>

                    <div class="organ">赵林林</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>微步威胁分析平台——国内首个一站式威胁分析平台，方便分析人员进行事件确认、危险程度及影响范围分析、关联攻击团伙和溯源。<br>
平台整合全球范围威胁情报，运营商、云厂商的海量数据，吸收专家的分析经验，形成强大的数据关联及可视化分析能力。本次演示将详细介绍威胁分析平台的使用方法。<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        目前公司团队共有30人，分别来自大型企业及互联网公司，包括亚马逊、微软、阿里巴巴、360、美团、搜狗、京东等等。赵林林先生2000年左右开始从事信息安全相关工作。曾负责百度公司的安全建设，后担任高德公司安全负责人，美团-大众点评安全负责人， 于2016年加入微步在线，任技术运营主管。
                    </div>
                    <a target="_blank" class="link" href="https://x.threatbook.cn/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">护心镜</h3>

                    <div class="organ">王珂</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>护心镜是由360 Web 攻防团队 0KEE Team 开发用来防御前端脚本攻击的工具，分网民版和开发者版。</br>
网民版由浏览器扩展和告警平台两部分组成。安装了护心镜的浏览器，可降低网站后台、邮箱等账户被黑客控制的风险。 目前为止，没有任何一款杀毒软件可以让浏览器主动防御 XSS 攻击。 如果您是邮箱、微博等社交应用的重度用户，或者工作中有比较重要的网站后台，都可使用本工具进行保护。</br>
实现思路就是 JS anti JS，监控页面内的 JavaScript，对疑似攻击行为进行阻断。</br>
项目演示：https://0kee.360.cn/hxj/demo/<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        360信息安全部 0Kee Team 高级 Web 安全研究员，护心镜作者。
                    </div>
                    <a target="_blank" class="link" href="https://0kee.360.cn/hxj/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">金刚审计系统</h3>

                    <div class="organ">邵樊</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>1. 金刚系统是集静态漏洞发现和动态测试于一身的 Android App 自动化漏洞审计系统。系统涵盖包括组件权限使用、WebView 组件使用、HTTPS 网络传输使用、源代码保护、隐私文件保护等方面的安全检查。</br>
2. 金刚系统目前接受业界扫描产品近4000个，助力业界发现漏洞近14000个。</br>
3. 金刚系统在任务管理、审计调度、报告生成、静态和动态检查的实现模块化；任务生成、扫描启动等功能模块异步独立启动，将模块之间相互影响最小化；动态测试对时间和性能的要求，金刚支持以并发分布式方式同时支持多个测试任务进行。</br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        网络ID : 樊少，专注于漏洞审计系统开发和二进制逆向分析，来自腾讯安全平台部。
                    </div>
                    <a target="_blank" class="link" href="http://service.security.tencent.com/kingkong"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">Pkav Web Scanner</h3>

                    <div class="organ">李维(Verkey)</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>Pkav Web Scanner 是 PKAV 团队集多年网络攻防实践经验开发的一套渗透测试工具集成平台，集成了 Web 渗透相关的信息收集、漏洞扫描、模糊测试、暴力破解、渗透辅助等30多种可相互衔接、协同工作的工具，用于网络安全相关从业人员对Web站点进行模拟黑客攻击的渗透测试以及安全评估。<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        四川无声双螺旋安全研究院副院长，PKAV 团队核心成员，Pkav HTTP Fuzzer、Pkav Web Scanner 作者。从事网络安全行业9年，工作7年，主要方向为渗透测试和安全产品研发。
                    </div>
                    <a target="_blank" class="link" href="http://pkav.net/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">SkyWolf</h3>

                    <div class="organ">任言</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>SkyWolf 是一款自动化白盒审计系统，以扩展的形式加载到 PHP 当中。<br>
它采用污染传递的方法污染程序整个执行流程，并对程序处理流程进行安全性分析，结合 PHP 白盒审计的经验，针对每一种漏洞类型都设计了一个漏洞检测模型。目前支持普通 SQL 注入，宽字节注入，命令执行，文件读写，文件包含漏洞检测，并支持 PHP5 全版本。</br>
同时配套开发了告警处理平台，通过程序给出的执行调用栈和问题参数点快速定位问题代码位置，提高漏洞修复速度。
<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        360信息安全部 0Kee Team 高级 Web 安全研究员。
                    </div>
                    <a target="_blank" class="link" href="https://0kee.360.cn/skywolf_demo/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">Pocsuite</h3>

                    <div class="organ">dev</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>Pocsuite 是由知道创宇安全研究团队打造的一款开源的远程漏洞测试框架。它是知道创宇安全研究团队发展的基石，是团队发展至今一直维护的一个项目，保障了我们的 Web 安全研究能力的领先。<br>
你可以直接使用 Pocsuite 进行漏洞的验证与利用；你也可以基于 Pocsuite 进行 PoC/Exp 的开发，因为它也是一个 PoC 开发框架；同时，你还可以在你的漏洞测试工具里直接集成 Pocsuite，它也提供标准的调用类。<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        知道创宇 404 Team 安全研究员，Pocsuite 核心开发成员，关注渗透测试与安全自动化。
                    </div>
                    <a target="_blank" class="link" href="http://pocsuite.org"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">Alice 威胁情报溯源平台</h3>

                    <div class="organ">陈祥</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>Alice 威胁情报溯源平台，可以为企业信息安全人员提供全面的威胁态势展示与威胁溯源查询功能。用户可根据已有信息安全系统所捕获的 APT 信息，直接进行检索、溯源（包括：IP、域名、URL、email、恶意样本 HASH 等），进一步确定威胁信息并加以及时处置。<br>
同时，Alice 支持以 API 方式与企业信息安全系统进行对接，输出 JSON 格式数据，扩展企业现有设备能力，增强检测、防御、处置的执行流程，实现以情报为驱动的智能化安全防护体系。<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        天际友盟高级安全分析师。9年的信息安全工作经验，前联想集团移动业务基础设施信息安全负责人。在威胁情报分析、大数据安全、渗透测试、SAP 安全、WIFI 安全、安全运维管理有着丰富的经验。
                    </div>
                    <a target="_blank" class="link" href="https://alice.sec-un.com/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">Webzmap</h3>

                    <div class="organ">jdaddy</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>webzmap 基于 Django 和 Zmap：<br>
  1. 可在远程主机上方便的执行扫描任务， 通过Web提供创建任务，查看任务。系统自动排队优化执行扫描任务， 根据设定的最大带宽，多任务同时执行，充分利用带宽。<br>
  2. 任务可控制：暂停和继续，终止。<br>
  3. 可设置常用的白名单，黑名单文件，常见任务时可直选选择使用。<br>
  4. 可以查看实时任务执行进度，剩余时间，命中数，命中率等。<br>
  5. 上诉所有功能提供REST API，通过自定义编写程序，完成自动化扫描，或者集成到其他系统中。<br>
 目前还在开发阶段，主要功能都已实现<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        大数据开发工程师，从事数据爬取，大数据开发， dnsdb.io 创始人兼开发者。
                    </div>
                    <a target="_blank" class="link" href="https://github.com/fengyouchao/webzmap"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">CEye.io</h3>

                    <div class="organ">C1tas</div>
                    <div class="info">
                        <b>项目介绍：</b><br/>CEye 是一个 DNS 查询与 HTTP 请求监测平台，也可以创建自定义文件作为在线 Payload。它可以帮助安全人员进行漏洞测试的信息收集，比如 SSRF、SQL盲注、XXE、REC、RFI 等。<br>
                        <br/>
                        <b>演示者介绍：</b><br/>
                        知道创宇 404 Team 实习安全研究员，萌新，主要关注 Web 安全。
                    </div>
                    <a target="_blank" class="link" href="http://ceye.io"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
            </ul>
        </div>

    </div>
