
<div class="section section-weapons">

        <div class="section-weapons-title text-center">
            <img data-src="/timeMachine/public/static/Picture/happyView.png" alt=""/>
        </div>

        <div class="set-top-right">
            <i class="i-logo-gray"></i>
        </div>


        <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">欢迎</a>
          <a href="#arsenal" class="active">悦目</a>
          <a href="#partners">众乐</a>
          <a href="#tickets">长谈</a>
          <a href="#contact_us">我们</a>
        </div>
    </div>
        

<div class="sec-foot-left">
    <div class="copyright">Copyright © 宏奕工作室ABC组</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>分享</strong>
    </a>
</div>

        <ul class="list-weapon">
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-xiansulou.jpg" alt=""/>
                <div class="des-wrapper" style="">
                    <i class="arrow"></i>
                    <div class="name">先骕楼</div>
                   
                </div>
            </li>
            
            <li class="weapon-item">

                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-weiyilou.jpg" alt=""/>
                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">惟义楼</div>
                  
                </div>

              <li class="weapon-item">
                  <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-fangyinlou.jpg" alt=""/>
                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">方荫楼</div>
                 
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-tuwenxinxizhongxin.jpg" alt=""/>
                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">图文信息中心</div>
                    
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-yinyueyishuguangchang.jpg" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">音乐艺术广场</div>
                   
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-xinglinshuyuan.jpg" alt=""/>
                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">杏岭书院</div>
                 
                </div>
            </li>
            </li>
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-jiankangxiaodao.jpg" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">健康小道</div>

                </div>
            </li>
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-xiaoshizhong.jpg" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">校史钟</div>
                   
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-ehuwan.jpg" alt=""/>
                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">鹅湖湾</div>
                  
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-taoliding.jpg" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">桃李鼎</div>
                 
                </div>
            </li>
            
            <li class="weapon-item">

                <img class="knight" data-src="/timeMachine/public/static/Images/jxnu-xiaoshijinianbei.jpg" alt=""/>

                <div class="des-wrapper">
                    <i class="arrow"></i>

                    <div class="name">校址纪念碑</div>
                
                </div>
            </li>
            
            <li class="weapon-item">
                <img class="knight" data-src="/timeMachine/public/static/Images/jxun-lumingting.jpg" alt=""/>


                <div class="des-wrapper">
                    <i class="arrow"></i>
                    <div class="name">鹿鸣亭</div>
                </div>
            </li>
            
        </ul>
        <div class="weapon-info-wrapper">
            <i class="fa fa-times" aria-hidden="true">×</i>

            <div class="list-weapon-info-nav">
                <div class="arrow up"><i class="iconfont" aria-hidden="true">&#xe600;</i></div>
                <div class="arrow down"><i class="iconfont" aria-hidden="true">&#xe621;</i></div>
            </div>
            <ul class="list-weapon-info">
                
                <li class="item">
                    <h3 class="name">先骕楼</h3>
                      <div class="organ"></div>
                    <div class="info">
                       <b>为纪念江西师范大学（原国立中正大学）首任校长胡先驌先生而建。
                        <br>现主要为学校计算机工程学院，软件工程学院，数学与信息工程学院的办公大楼。
                        <br>先骕楼结构是学校教学办公楼中最复杂的，楼内走道是不规则回形，路线图形似婴儿脖子上挂的如意锁。
                        因此，许多对先骕楼不熟悉的同学来过之后会有“迷路”的感慨。<br>   其实，和其它大楼相似，先骕楼也分为五个区，第一到第四个区分别是物理与通信电子学院、数学与信息科学学院、计算机信息工程学院、软件学院，最南面的五区则是学校党政办公大楼，有个独立的南门。与同学们关系较密切的财务处、教务处均在二楼办公，组织部、宣传部、新闻中心等也都在此，其它还有人事处、科研处、国际交流处、统战部、监审处、教师教育处等。
                        <br>先骕楼一楼正中央，是学校“实验剧场”，能容纳500多人，学校一些比较大型的报告讲座、文艺演出、话剧表演、辩论比赛等等活动，都有可能会在这里举行。
                        从先骕楼正大门台阶底下可以进入实验剧场。</b>
                    </div>
                    <a target="_blank" class="link" href="http://map.baidu.com/#panoid=b0d7c5b86d4bbe9c88b9882c&panotype=inter&heading=90&pitch=-1&l=17&tn=B_NORMAL_MAP&sc=0&newmap=1&shareurl=1&pid=01003900001404301311326505W&iid=b0d7c5b86d4bbe9c88b9882c&psp=%7B%22PanoModule%22%3A%7B%22markerUid%22%3A%22e75766d816f55b0b16764303%22%7D%2C%22PanoIndoorPoiModule%22%3A%7B%22uid%22%3A%22e75766d816f55b0b16764303%22%7D%7D"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">惟义楼</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <br><b>惟义楼，师大的主教学楼，一般的公共课程都在这栋楼上课</b><br/>我现在要说说惟义楼了，那个方方正正用红砖砌起的大楼，屹立在师大的图书馆旁边，与图书馆遥相呼应，它是以师大杰出校友中科院院士杨惟义的名字而命名的，这是我们的教学楼——惟义楼，学校除了美术学院、音乐学院、国际教育学院和研究生，我们几乎都在这里上课，它没上课的教室，就有很多同学在这里自习，我觉得大学就是一个问题不好，太大了，教学楼、图书馆什么的，都太大，大的经常让人找不到路。<br>惟义楼是分区的，共七区，教室是用区和楼层命名的，如6203指的就是六区二楼的第三个教室，其实这样分区，特别难记教室，有时候，我上了一个学期的课下来，还是记不得哪节课在哪个教室上。
                        惟一楼有太多让人怀念的东西，让我一时不知从何说起，是四个人一起去上课，在课上大声喧哗，迎接老师犀利的目光，还是和好朋友一起惟义楼的草地上啃书，还是……我已说不清楚，只是学校的生活实在美好，让我无限向往，希望学弟学妹们能够好好珍惜在学校的时光。</br>
                        <br/>
                       
                    </div>
                    <a target="_blank" class="link" href="http://map.baidu.com/#panoid=b0d7c5b86d4bbe9c88b9882c&panotype=inter&heading=87.2&pitch=-1.8&l=12&tn=B_NORMAL_MAP&sc=0&newmap=1&shareurl=1&pid=01003900001404301303240255W&iid=b0d7c5b86d4bbe9c88b9882c&psp=%7B%22PanoIndoorPoiModule%22%3A%7B%22uid%22%3A%228fde79cca6b581bf95ca071d%22%7D%7D"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                

                
                <li class="item">
                    <h3 class="name">方荫楼</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <br><b>方荫楼，历史名人蔡方荫(江西南昌人。中科院院士、土木建筑结构专家，中国力学专家、教育家。土木建筑结构专家。中国科学院院士。中国人民政治协商会议第二、三届全国委员会委员。)，因此此楼主要是理工科学院的办公教学楼。<br>方荫楼由五幢五层大楼组成，分为五个区，各为一个单位的办公楼。五个单位分别是：城市建设学院、地理与环境学院、生命科学学院、化学化工学院、理化测试中心。<br>由于在方荫楼的单位基本都属于实验性较强的学科，因此，方荫楼在设计时，就考虑到了实验室必备的水、电、气等特殊要求。</b>
                    </div>
                    <a target="_blank" class="link" href="https://x.threatbook.cn/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">图文信息中心</h3>

                    <div class="organ"></div>
                    <div class="info">
                       <br> <b>图文信息中心是江西师范大学瑶湖校区最宏伟的建筑之一，
                            也是亚洲面积最大的图书馆。高大宽广的特点令所有来访者记忆深刻。
                            也正因为此楼巨大，因此楼内单位较多、路线较复杂，不同的入口和阶梯通向的单位不一样，
                            而且除了一楼之外，基本上其他楼层的部分单位之间互不相通。</b><br>
                        <b>江西师范大学图书馆新馆面积达10300平方米,是江西师大瑶湖校区的一大标志性景观。图书馆前面就是一个漂亮的人工湖,清晨或傍晚在湖边散步或小读乃是一大美事。
                            新馆建筑面积10300平方米，加上毗邻的老馆书库，总建筑面积达12800平方米。馆内设大、中型阅览室16个，小型阅览室6个、阅览座位共1100席，是读书做学问的理想场所。2005年新建成的瑶湖校区图书馆建筑面积达39661平方米，阅览座位共4000多个。</b>
 <br>
                    <b>馆藏文献总量231万册（其中纸质图书215万册，电子图书16万册；中文期刊1719种，外文期刊29种，期刊合订本109633册）图书馆纸质文献和电子文献资源覆盖我校各个学科及边缘学科，能满足我校教学和科研的需要。 　　
                        馆藏特色为文物与字画，文史图书中，线装古籍达7.5万余册，其中特种藏书（善书、珍本、手稿）达307种20507卷7934册，有数十种国内少见的元明清版本，严复书信手稿为海内外仅有；还收有一定数量解放前书刊资料。理科图书以化学类图书尤为出色，收藏有1907年至今的全套美国《化学文摘》。全馆总藏中，文学、历史、数学、化学等专业藏书已具有研究级藏书水平。</b></div>
                    <a target="_blank" class="link" href="https://0kee.360.cn/hxj/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">音乐艺术广场</h3>

                    <div class="organ"></div>
                    <div class="info">
                      <br>  <b>　位于瑶湖校区外环东侧，是一座由特大型剧场、大型电影院和小型音乐厅三个分体组合而成的建筑群。它不仅极大地改善了人才培养和文体活动的硬件条件，而且还进一步优化了校园整体功能。<br>音乐艺术广场与国际交流中心和即将兴建的教职工高层住宅一起，周围环绕瑶河、鹅湖湾和健康小道，形成一个兼具文化、体育、休闲等多种功能的相对独立分区，未来将成为深受师生们喜爱和向往的休闲乐园和生态家园。</b><br>
                        <b>音乐艺术广场还做坐落着校团委，校学生会的总部办公地点。同时大学生创业活动中心也在其中，各种品类不同的商店在此开业，是学生们实现梦想的摇篮</b>
                    </div>
                    <a target="_blank" class="link" href="http://service.security.tencent.com/kingkong"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">杏岭书院</h3>

                    <div class="organ"></div>
                    <div class="info">
                      <br>  <b>小杏岭书院工程由学校中文系 82 级全体校友捐建。工程占地面积 600 平方米，建筑面积 132 平方米，整个书院由牌坊、围墙、水池、假山、状元桥、一主建筑及二副建筑、周边景观构成。牌坊高 5 米、宽 6 米，主体建筑高 7.45 米，副建筑高 5.9 米。书院采用青砖地面、白墙、灰瓦屋面、仿古门窗、木柱构建。
                            小杏岭书院是纪念性建筑符号，整个建筑都参照地方著名古代书院——白鹿洞书院建筑格调形成。整体门柱颜色为暗红色，墙面为白色，地面采用灰色仿古青砖，木制花格门窗，凸显书院历史古韵。书院整体建筑符号空间设置是中国古代传统教育模式的隐喻。书院的主建筑，也就是功能性最强的建筑是明伦堂，其门上挂有朱熹的题字匾，明伦堂用作高层次学术交流讲堂，立于整个建筑的正中央，两侧的副建筑功能分别为藏书阁和工作间。非功能性建筑之一为牌坊，刻有中国书法协会名誉主席沈鹏先生颇具蕴意的题字，“章水文渊”，“继往开来”；之二为书院的外围东侧广场树有孔子神圣雕像，让人明礼思贤；之三为书院入口植入的大石，该石采自于白鹿洞书院后山，大石的灵气让白鹿洞书院的渊源跨越时空在江西师大小杏岭扎根。
</b>
                    </div>
                    <a target="_blank" class="link" href="http://pkav.net/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>

                <li class="item">
                    <h3 class="name">健康小道</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <b>2010年10月18日正式开通。健康小道建成后，在校园原有的内环和中环大道上，又增一条外环线，打通了校园“大周天”，彰显了生态人文校园的动感与活力。健康小道的开通，不仅标志着一个校庆项目的竣工，同时也标志着我校瑶湖校区生活居住环境的新提升。
                            　　小道全长5122米，宽1.8米，东起于正大门，沿瑶河因势就形，内切瑶河水域，紧拥瑶湖校园，呈“环岛”状，独具一格，与瑶河相得益彰。健康小道沿途每隔100米安置一块文化景观石，零星设置了休闲椅、运动器材等。主要路面用红黄灰三色砖块砌成，每30米安装一盏太阳能路灯。小道鹅湖湾段，因水面阻隔，架浮桥，避免了对校园生态的破坏，同时节约了建设成本。小道路名“健康小道”四个大字，由我国著名书法家、我校杰出校友沈鹏先生题写。</b>
                    </div>
                    <a target="_blank" class="link" href="http://unicorn.360.cn/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>

                <li class="item">
                    <h3 class="name">校史钟</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <b>宏伟的图书馆楼顶，悬挂着一口巨大的青铜钟，那就是学校校庆钟。它高2.2米，口径1.6米，重2.76吨，是江西新闻出版集团和江西新华发行集团有限公司为师大70周年校庆捐资铸造的，由江西桐青金属工艺品有限公司建造。<br>
                        钟面铭刻着由文学院资深教授刘世南先生撰写的铜钟铭文，诉说着师大悠久曲折的历史传统和发展历程。钟楼利用力学原理，采用钢结构制作，顶部为八根钢骨，穹隆式网状结构与底部钢架相贯通，形成回力。全部钢架均采用仿腐木外包，在保证牢固的前提下，使整个建筑凸显生态之美。<br>
                        <b>
                            淡古铜色青铜大钟宏伟壮观，钟肩高2.2米，下口直径1.6米，重近2.76吨，距地面约0.8米，采用精铜材料制作，钟声浑厚悠扬。正面铸铭《大钟铭并序》，计512字，叙述了我校70年发展历程。《大钟铭并序》为著名学者、我校文学院老教授刘世南先生所撰写。
                        </b>在每一天的8点、12点、14点、18点以及22点准时敲响，每天五次，每次九响，响彻昌东!<br>校庆钟不仅仅是报时工具，它更是一个精神符号，响起的钟声告诫我们铭记与传承历史，激励师生发扬学校的优良传统，好好珍惜稍纵即逝的大学时光。<br>
                        瑶湖钟声作为师大特殊的文化符号，成为了“新豫章八景”之一。</b>
                    </div>
                    <a target="_blank" class="link" href="https://0kee.360.cn/skywolf_demo/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">鹅湖湾</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <b>知行楼、白鹿会馆东北侧至西北水面。“鹅湖湾” 与江西“四大书院”之“鹅湖书院”关联，寓意承续江西古代高度发展的书院文化，既可表现学校特色，又有区域文化个性。<br>“鹅湖湾”为“鹅湖”之一角，湾中育有各色鸟禽，为学校优美生态环境的生动写照。</b><br>
                        <b>鹅湖湾环境优美是不可多得的美景之一。每天都有不少的学生来次晨读的同时，还能暂停一会小憩一番，欣赏欣赏。鹅湖湾临近白鹿会馆的鹿苑，或许你会喜欢上这样一个有山有水有白鹿的地方。江西师范大学的植物非常多，覆盖率当然也高，但是最让人喜欢的是那里的天鹅啊，在江西师范大学的青山湖校区与瑶湖校区都养殖着一群天鹅。特别是在瑶湖校区，波光粼粼的静湖上面总有一群天鹅在悠然自得地游着，她们或相互依偎着似一对恩爱的恋人，或你追赶嬉闹着像群调皮的孩子，或秩序井然地绕湖边游着像一队士。岸上还有一群休息的，打闹的，找食物的。。。。她们忙得不亦乐乎，让这里成为了一个乐园。</b>
                    </div>
                    <a target="_blank" class="link" href="http://pocsuite.org"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">桃李鼎</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <b>桃李鼎是江西师范大学70周年校庆收到的最为珍贵的礼品之一，
                            由优秀校友、中国书法家协会名誉主席沈鹏先生为母校捐铸，
                            于2010年10月20日在江西师大瑶湖校区正大广场举行“桃李鼎”揭幕仪式。
                            桃李鼎位于静湖桥正南面，端庄厚重的造型、精美的纹饰、深重凸出的刻镂和她呈现出的神秘与威严，
                            并与悬于校区制高点的校庆钟、贯通学校中脉的静湖桥、高耸入云的校址纪念碑、磅礴大气的正大坊构成一幅传统与现代一体、古朴与青春交融、厚重与激扬并发的美丽图景。
                            从桃李鼎的外型来看，“桃李鼎”参照1989年江西新干商墓出土的兽面纹虎耳铜方鼎（该鼎现为江西省博物馆镇馆之宝）放大十倍仿制。
                            整座铜鼎重约4.1吨，鼎禁（底座）高 1.08米，鼎身高3.9米。鼎北面铭“桃李鼎”三个隶体大字，南面铸《桃李铭》。
                            桃李鼎是沈鹏先生出资50万元铸造的。
                            沈鹏先生专访母校之后，为祝贺母校70华诞，专为母校铸造这么一座铜鼎，并命名为“桃李鼎” ，寓意母校辛勤耕耘，桃李遍天下。鼎身北面镌刻着沈鹏先生亲笔题写的“桃李鼎”三个大字，隶书“桃李鼎”三字，圆浑大气、疏阔力沉。充分彰显了师魂、师德、师风，校党委书记傅修延教授亲笔撰写《桃李铭》一篇，并镌刻于鼎身南面。
                            </b>
                    </div>
                    <a target="_blank" class="link" href="https://alice.sec-un.com/"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">校史纪念碑</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <b>江西师范大学创办于 1940 年，是一所历史悠久、闻名遐迩的高等学府，具有优良的学风与深厚的学术传统。
                        迄今为止，学校经历了国立中正大学、国立南昌大学、江西师范学院、
                        江西师范大学等四个历史时期，校址亦有杏岭、龙岭、长胜、望城岗、青山湖、拿山、瑶湖等处之变迁。<br>
                        校址变迁反映了学校发展的壮丽历程：学校肇基于抗战烽火中的杏岭，壮大于共和国成立后的青山湖畔，
                        又将在瑶湖之滨实现新世纪腾飞。
                        为铭记前人荜路蓝缕之功，激励今人奋发进取不断创新，
                        特在瑶湖校区正大广场中央建立江西师范大学校址纪念碑，既以纪念历届办学地点之变迁，
                        更以此变迁勾勒学校发展壮大之轨迹。校址每一次变迁，都与民族命运与时代发展紧密相连
                        ，都凝聚着每一代学人为之付出的辛劳。凡我校友，无不心系母校兴衰，并对当年校园念念不忘。
                        以史为镜，可以知兴替，校址纪念碑不啻为鉴往察今之明镜。温故而知新，继往以开来，爱
                        我师大必先知我师大，知我师大当思兴我师大，今日莘莘学子负有承传薪火再谱新篇的崇高使命。
                        回眸以往，学校办学曲折艰辛，斑斓多姿；瞻望未来，江西师大前程似锦，灿烂辉煌。
                            </b>
                    </div>
                    <a target="_blank" class="link" href="https://github.com/fengyouchao/webzmap"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
                <li class="item">
                    <h3 class="name">鹿鸣亭</h3>

                    <div class="organ"></div>
                    <div class="info">
                        <b>白鹿会馆西侧小亭。《诗经·小雅·鹿鸣》是古代进贡人才举行宴会时所用的乐章，科举制度时期，乡试举人发榜后，省里举行宴会招待新科举人，此宴也叫“鹿鸣宴”，宴席上“歌《鹿鸣》之章”。白鹿会馆多年是全省录取高考新生的现场，很符合古代选拔举人的场景。故此地用“鹿鸣”为名，既应了选拔人才的典故和现实，又与“白鹿会馆”一名相配。</b>
                    </div>
                    <a target="_blank" class="link" href="http://ceye.io"><img data-src="/timeMachine/public/static/Picture/electrode-arrow.png" alt=""/></a>
                </li>
                
            </ul>
        </div>

    </div>
