    <div class="section section-topics section-issue">
    
<div class="sec-foot-left">
    <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>购票</strong>
    </a>
</div>

    <div class="section-topics-title text-center">
      <img data-src="/timeMachine/public/static/Picture/section-topics-title.png" alt=""/>
    </div>

    <div class="set-top-right">
      <i class="i-logo"></i>
    </div>

    <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">大会首页</a>
          <a href="#arsenal">兵器谱</a>
          <a href="#partners">合作伙伴</a>
          <a href="#tickets">购票通道</a>
          <a href="#contact_us" class="active">联系我们</a>
        </div>
    </div>

    <ul class="list-topics">
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14672552029.png" alt=""/>
            <div class="topic-title">
              Hacking Cloud Products
            </div>
            <p class="topic-intro">
              从黑客思维角度分析多类云产品的脆弱点、如何突破云边界，并给出一些影响云产品的安全漏洞案例。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">李可弈
              <p class="intro">
                ID: Demon </br>
Team of n00tr00t & 邪红 </br>
Works at Aliyun
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725531081.png" alt=""/>
            <div class="topic-title">
              塔防模型落地之运维大战情报
            </div>
            <p class="topic-intro">
              深防御塔防模型落地对接安全运维之时，威胁情报横空出世。壁垒边界抑或先知与银弹，演讲者将与大家共同探讨当塔防模型与安全运维遇上威胁情报时产生的特有景象。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">姚威
              <p class="intro">
                ID：黑客叔叔 p0tt1 </br>
广州凌晨网络科技有限公司 </br>
RainRaid Team & 3AM-LAB
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146725690556.png" alt=""/>
            <div class="topic-title">
              给谁的愚蠢买单？！
            </div>
            <p class="topic-intro">
              运营商、银行、执法机关…… 究竟谁来为我们卡上不翼而飞的金额买单？！
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">Only_guest
              <p class="intro">
                PKAV 负责人</br>双螺旋安全研究院院长
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146726305173.png" alt=""/>
            <div class="topic-title">
              “黑帽子”给“白帽子”讲故事
            </div>
            <p class="topic-intro">
              从执法者角度直击黑客热点事件，分析漏洞平台、众测平台和各大 SRC 的任务合法性，揭露地下黑色产业链现状，介绍打击网络犯罪经典案例。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">童瀛
              <p class="intro">
                ID：傲气雄鹰 </br>
江苏省公安厅网络安全保卫总队科长，</br>
公安部网络安全专家
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146726635461.png" alt=""/>
            <div class="topic-title">
              Reverse Engineering Trilogy
            </div>
            <p class="topic-intro">
              放弃现有旧工具，介绍由我们团队打造的几乎已经是逆向的标准软件（Capstone、Unicorn、Keystone）。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">刘凯仁
              <p class="intro">
                ID：xwings </br>Team of vnsec </br> 中新网络信息安全公司
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146727768694.png" alt=""/>
            <div class="topic-title">
              VMProtect 的一次奇妙之旅
            </div>
            <p class="topic-intro">
              VMProtect 是目前最强的虚拟化保护技术。本议题将讨论其虚拟化保护相关背景知识与设计原理，并结合一个非常流行的客户端进行还原演示。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">何潇潇
              <p class="intro">
                北京永信至诚科技股份有限公司 </br>安全研究员
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146726643534.png" alt=""/>
            <div class="topic-title">
              Attacking Android App&#39;s Third Libraries
            </div>
            <p class="topic-intro">
              本议题介绍针对 Android 第三方库的漏洞攻击和 Fuzz 方法，并围绕开发者应对方案展开讨论。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">dragonltx &amp; quhe
              <p class="intro">
                unLimit 安全小组成员 </br> 主要研究领域为安卓安全与漏洞挖掘
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146762140513.png" alt=""/>
            <div class="topic-title">
              Binder Fuzz &amp; Some Interesting Vulnerability Sharing
            </div>
            <p class="topic-intro">
              首先介绍基于 drozer 的 binder fuzz 模型，然后分享几个有趣的安卓系统漏洞。最后介绍系统服务漏洞的常见利用方法。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">行之
              <p class="intro">
                ID：0xr0ot </br>
安全研究员 </br>
主要研究领域为安卓安全与系统漏洞挖掘
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14678733897.png" alt=""/>
            <div class="topic-title">
              BadURLScheme in iOS
            </div>
            <p class="topic-intro">
              分享一个在 iOS 系统 URL Scheme 方面存在某种设计缺陷、从而导致众多 App 受到攻击的 0day 安全漏洞。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">黑哥
              <p class="intro">
                ID: superhei </br>
知道创宇 CSO </br>
漏洞之王 </br>
曾经的男科医生
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/14677028946.png" alt=""/>
            <div class="topic-title">
              剑走偏锋之 Hacking 无处不在
            </div>
            <p class="topic-intro">
              站在漏洞挖掘的角度介绍万物互联环境下如何攻破各类互联网络，包括智能联网设备、工控网络、交通网络等。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">朱利军
              <p class="intro">
                ID: Rabit2013 </br>
现任四叶草安全 CSO（首席安全官） </br>
CloverSec Labs 负责人 </br>
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725563959.png" alt=""/>
            <div class="topic-title">
              谛听：无线 Fuzzing 之旅
            </div>
            <p class="topic-intro">
              本议题将涉及 Wi-Fi、蓝牙、NFC 等常见无线通讯协议安全分析，带领大家一同体验剑走偏锋、反其道而行之的无线 Fuzzing 探索之旅。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">KEVIN2600
              <p class="intro">
                Insight-labs 成员 </br>安全分析师 </br>坚信黑客精神就是不断探索未知领域
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725696779.png" alt=""/>
            <div class="topic-title">
              伪基站高级利用技术
            </div>
            <p class="topic-intro">
              介绍 GSM､UMTS､LTE 伪基站概况，以及如何利用伪基站实现中间人攻击、仿冒手机身份、拦截短信，完成对手机和网络账户的快速入侵。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">Seeker
              <p class="intro">
                连续创业失败的创业导师 </br>不投资的天使投资人
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146726179281.png" alt=""/>
            <div class="topic-title">
              RFID Vulnerability Principles &amp; Demonstration
            </div>
            <p class="topic-intro">
              以通俗易懂的方式解释 Mifare Classic 常见漏洞、一些常见的攻防手法以及漏洞 Demo。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">汪正扬
              <p class="intro">
                ID：汪哥 </br>
Student & Independent Researcher
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14672552493.png" alt=""/>
            <div class="topic-title">
              智能汽车内网入侵检测研究
            </div>
            <p class="topic-intro">
              分享一种汽车入侵检测系统，该系统是基于现有汽车网络攻击案例与汽车内部网络结构研究提的出一种普适入侵检测方法。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">李均
              <p class="intro">
                UnicornTeam 高级无线安全研究员 </br>
成都信息工程大学信息安全工程学院硕士
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14672554879.png" alt=""/>
            <div class="topic-title">
              网络设备漏洞分析技术研究
            </div>
            <p class="topic-intro">
              从安全研究人员的角度分析网络设备漏洞特点，并通过案例分享 Cisco ASA 防火墙及路由设备等网络设备漏洞研究方法。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">timo
              <p class="intro">
                Works for 兴华永恒 </br>北京大学软件安全研究小组成员
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725544209.png" alt=""/>
            <div class="topic-title">
              Came, Saw and Conquered：网络空间中的 IoT 安全
            </div>
            <p class="topic-intro">
              解密网络空间物联网设备快速搜索技术和指纹提取方法，分析全球联网设备态势分布。最后，通过 0day 漏洞利用带你看世界。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">闫兆腾
              <p class="intro">
                ID：ppprince </br>中科院信息工程研究所 </br> 助研
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146725700606.png" alt=""/>
            <div class="topic-title">
              感知、诱捕、情报、协作：网络空间工控系统威胁情报
            </div>
            <p class="topic-intro">
              本议题将立足网络空间攻防对抗的新战场——工控系统，提出威胁感知诱捕计划并分析与展示系统捕获的入侵行为。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">Kimon
              <p class="intro">
                灯塔实验室负责人
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="Picture/146725559859.png" alt=""/>
            <div class="topic-title">
              与僵尸网络攻防对抗的激情岁月
            </div>
            <p class="topic-intro">
              主要讲述与僵尸网络攻防对抗的一些经验，包括识别、监控、反制僵尸网络的一些技术分享以及关于一个僵尸网络黑色产业链的案例介绍。
            </p>
          </div>
          <div class="card-back">
            <img data-src="Picture/section-topics-card-back.png" alt=""/>
            <div class="author">b1t
              <p class="intro">
                猎户攻防实验室</br>安全研究员
              </p>
            </div>
          </div>
        </div>

      </li>
      

    </ul>

    <div class="list-topics-navs">
      <span class="position">01</span> of 05
      <div class="dots-wrapper"></div>
      <div class="arrows arrow-prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="arrows arrow-next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cm_ths_follow_me">
            <a target="_blank" href="mailto:kcon@knownsec.com" class="i-share i-share-1"><i></i></a>
            <a target="_blank" href="https://twitter.com/kconglobal" class="i-share i-share-2"><i></i></a>
            <!--<a href="javascript:;" class="i-share i-share-3"><i></i></a>-->
            <a target="_blank" href="http://weibo.com/u/5303180139" class="i-share i-share-4"><i></i></a>
            <a href="javascript:;" class="i-share i-share-5"><img data-src="Picture/qr.png" width="92" height="93" alt=""></a>
    </div>
  </div>