    <div class="section section-topics section-issue">
    
<div class="sec-foot-left">
    <div class="copyright">Copyright © 宏奕工作室ABC组</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>分享</strong>
    </a>
</div>

    <div class="section-topics-title text-center">
      <img data-src="/timeMachine/public/static/Picture/1.png" alt=""/>
    </div>

    <div class="set-top-right">
      <i class="i-logo"></i>
    </div>

    <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">欢迎</a>
          <a href="#arsenal">悦目</a>
          <a href="#partners">众乐</a>
          <a href="#tickets">长谈</a>
          <a href="#contact_us" class="active">我们</a>
        </div>
    </div>

    <ul class="list-topics">
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/head.png" alt=""/>
            <div class="topic-title">
              温隆强
            </div>
            <p class="topic-intro">
              男，江西师范大学计算机信息工程学院15级网络工程2班，宏奕工作室成员。一枚喜欢到处游走的稻壳（DOC），沉溺在代码的梦乡。体验光影世界，聆听安静音乐，陶醉迷人书香。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">格言
              <p class="intro">
                Believe you can make it and you will succeed！
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725531081.png" alt=""/>
            <div class="topic-title">
              胡悦
            </div>
            <p class="topic-intro">
              女，江西师范大学计算机学院15级计科正大班，宏奕工作室成员，性格开朗，适时沉默；本领不大，努力不小；德智体美，多向发展；待人处事，抱诚守真；O型天蝎，意志坚定；逆风飞翔，倔强不滞。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">格言
              <p class="intro">
                天道酬勤！
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725690556.png" alt=""/>
            <div class="topic-title">
              张昊
            </div>
            <p class="topic-intro">
              男，江西师范大学计算机信息工程学院15级网络工程2班，宏奕工作室成员，性格开朗，喜欢尝试新鲜事物。经常穿梭于个次元，现暂时在三次元学习，以待功成圆满。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">格言
              <p class="intro">
                做自己喜欢做的事，不要为外界干扰！
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146726305173.png" alt=""/>
            <div class="topic-title">
              李亮
            </div>
            <p class="topic-intro">
              男，江西师范大学计算机信息工程学院15级物联网工程学生，宏奕工作室成员。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">格言
              <p class="intro">
                Nothing is difficult to the man who will try！
              </p>
            </div>
          </div>
        </div>

      </li>
    </ul>
    <div class="cm_ths_follow_me">
            <a target="_blank" href="mailto:2424461238@qq.com" class="i-share i-share-1"><i></i></a>
            <a target="_blank" href="http://weibo.com/" class="i-share i-share-4"><i></i></a>
            <a href="javascript:;" class="i-share i-share-5"><img data-src="/timeMachine/public/static/Picture/wx.png" width="92" height="93" alt=""></a>
    </div>
  </div>