<div class="section section-partner p-partners">
    <div class="text-center"><img data-src="Picture/logo.png"></div>
    <div class="set-top-right">
      <i class="i-logo-gray"></i>
    </div>
    <div class="set-top-left">
        <div class="menu menu-dark off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">大会首页</a>
          <a href="#schedule_and_location">大会日程</a>
          <a href="#speakers_and_topics">大会议题</a>
            <a href="#arsenal">兵器谱</a>

          <a href="#partners" class="active">合作伙伴</a>

          <a href="#the_advisory_group">顾问组</a>
          <a href="#tickets">购票通道</a>
          <a href="#contact_us">联系我们</a>
        </div>
    </div>
    <div class="slick-partner-wrapper">
      <div class="slick-partner">
        <div class="item-group item-group-1">
            <div class="partner-wrap">
                <div class="clearfix mb30">
                 <div class="pull-left partner-item">
                     <h3>独家协办</h3>
                     <div class ="i-partners" style="margin-right: 5px;">
                     
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725444407.png" alt="" title="腾讯安全"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                      </div>
                 </div>
                 <div class="pull-left partner-item">
                     <h3>黑钻赞助商</h3>
                     <div class ="i-partners">
                     
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728153979.png" alt="" title="通付盾"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                      </div>
                 </div>
               </div>
                <div class="clearfix partner-item">
                   <h3>KCon-RockNight</h3>
                   <div class="i-partners">
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                                <i class="i-partner"><img data-src="Picture/146728355345.png" alt="" title="XPwn"/></i>
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                   </div>
               </div>
               <div class="clearfix partner-item">
                   <h3>赞助商</h3>
                   <div class="i-partners">
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725381539.png" alt="" title="启明星辰"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146967539523.png" alt="" title="江南天安"/></i>
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088446587.png" alt="" title="零盾"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088450695.png" alt="" title="安赛"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147261078386.png" alt="" title="IELAB"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725377674.png" alt="" title="腾讯安全"/></i>
                        
                      
                   </div>
               </div>
            </div>
        </div>
        <div class="item-group item-group-2">
            <div class="partner-wrap">
                <div class="clearfix partner-item">
                   <h3>战略媒体</h3>
                   <div class="i-partners">
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725364704.png" alt="" title="IT168"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725363767.png" alt="" title="中国信息安全"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725360859.png" alt="" title="安全牛"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728178248.png" alt="" title="网络尖刀"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728186331.png" alt="" title="易安在线"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728284893.png" alt="" title="威客安全"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728432829.png" alt="" title="freebuf"/></i>
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146768747339.png" alt="" title="安在"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146768752243.png" alt="" title="信安在线"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178102548.png" alt="" title="安全圈"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147020431656.png" alt="" title="SF"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088452326.png" alt="" title="虎嗅"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                   </div>
               </div>
               <div class="clearfix partner-item">
                   <h3>合作媒体</h3>
                   <div class="i-partners">
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728205166.png" alt="" title="比特网"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728208128.png" alt="" title="CSDN"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14672821670.png" alt="" title="至顶网"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14676871021.png" alt="" title="雷锋网"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088399961.png" alt="" title="安全智库"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088402738.png" alt="" title="亿邦动力"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14712329490.png" alt="" title="爱安全"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                   </div>
               </div>
            </div>
        </div>
        <div class="item-group">
            <div class="partner-wrap">
                <div class="clearfix partner-item">
                   <h3>伙伴们</h3>
                   <div class="i-partners">
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725375555.png" alt="" title="四叶草"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725369318.jpg" alt="" title="盘古"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14672536837.jpg" alt="" title="玄武实验室"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14672536595.png" alt="" title="野狗"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146768869314.png" alt="" title="15PB"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728297405.png" alt="" title="娜迦"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728341822.png" alt="" title="赛客"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728525938.png" alt="" title="小密圈"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872312058.png" alt="" title="i春秋"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872323107.png" alt="" title="梆梆安全"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872346752.png" alt="" title="凌晨科技"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872351139.jpg" alt="" title="君安天下"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14687235466.png" alt="" title="实验室"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872389997.png" alt="" title="众安天下"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146943231179.png" alt="" title="风铃安全"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146943234896.png" alt="" title="ruff"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146943237385.png" alt="" title="sobug"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146967416017.png" alt="" title="走唱"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146967542204.png" alt="" title="华盟网"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088473727.png" alt="" title="w3c"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147123302711.png" alt="" title="灯塔实验室"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158229082.png" alt="" title="安全狗"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14715824048.png" alt="" title="破晓"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158242298.png" alt="" title="一叶"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158244859.png" alt="" title="活动家"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158247129.png" alt="" title="inn"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158260127.png" alt="" title="志琪"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178106886.png" alt="" title="安洵"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178110049.png" alt="" title="无声信息"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178112245.png" alt="" title="图灵"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725373623.png" alt="" title="石盾科技"/></i>
                        
                      
                        
                      
                   </div>

               </div>
            </div>
        </div>
      </div>
    </div>
    
<div class="sec-foot-left">
    <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>购票</strong>
    </a>
</div>

  </div>
    <!--合作伙伴 end-->