 <div class="section section-partner p-partners">
    <div class="set-top-right">
      <i class="i-logo-gray"></i>
    </div>
    <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">欢迎</a>
          <a href="#arsenal">悦目</a>
          <a href="#partners" class="active">众乐</a>
          <a href="#tickets">长谈</a>
          <a href="#contact_us">我们</a>
          <a class="icon-link j-modal-tobeahacker" href="#">
                     <i class="has-content"></i>
                     </a>
        </div>
    </div>
    <div class="slick-partner-wrapper">
      <div class="slick-partner">
        <div class="item-group item-group-1">
            <div class="partner-wrap">
                <div class="clearfix mb30">
                 <div class="pull-left partner-item">
                     <h3>思想政治</h3> 

                     <div class ="i-partners" style="margin-right: 5px;">
    <div class="i-partner">
      <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <p>思修期末复习资料<a href="http://drbl.in/ewng">下载</a></p>
                  </div>  
                </div>
              </div>
            </div>
            </div>
 
 <div class="i-partner">
            <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <p>思修期末复习资料<a href="http://drbl.in/ewng">下载</a></p>
                  </div>  
                </div>
              </div>
            </div>
            </div>
            </div>
                 </div>
               </div>
            </div>
        </div>

        <div class="item-group item-group-2">
            <div class="partner-wrap">
                <div class="clearfix partner-item">
                   <h3>四六级</h3>
                   <div class="i-partners">
                      <div class="i-partner">
                              <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-2"></div>
                  <div class="ch-info-back">
                    <p>by Arnel  <a href="http://drbl.in/eQDg">下载</a></p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>

             <div class="partner-wrap">
                <div class="clearfix mb30">
                 <div class="pull-left partner-item">
                     <h3>思想政治</h3>
                     <div class ="i-partners" style="margin-right: 5px;">
<div class="i-partner">
      <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <p>思修期末复习资料<a href="http://drbl.in/ewng">下载</a></p>
                  </div>  
                </div>
              </div>
            </div>

    
</div>
            </div>
                 </div>
               </div>
            </div>
        </div>

        <div class="item-group">
            <div class="partner-wrap">
                <div class="clearfix partner-item">
                   <h3>计算机</h3>
                   <div class="i-partners">
                   <div class="i-partner">
                   <div class="ch-item ch-img-3">
                   <div class="ch-info-wrap">
                   <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <p>by Jamal Charanek <a href="http://drbl.in/ejLW">View on </a></p>
                  </div>
                </div>
              </div>
            </div> 
            </div>
            </div>
               </div>
               </div>
               </div>
            </div>
        </div>
        
    <!--弹出框 begin-->
    <div class="modal-schedule" id="modal-schedule">
        <div class="schedule-detail-list">
            <div class="schedule-detail">
                <div class="title">
                    <div class="en">KCon-<b>HelloWorld</b></div>
                    <div class="zh">安全入门引导培训</div>
                </div>
                <div class="intro">
                    很多新人都在问如何入门黑客，有一些学习能力很强的人能靠「观察」来摸索着前进，但并不是所有人都有这样的观察能力，也并不是都能如此顺利。KCon 举办这种入门培训不是为了教新人做坏事，而是给新人输出正确的价值观。通过把业内前辈一流的经验适当输出给新人，做出必要的引导。引导出一名正义的黑客是这个培训的初衷。

                </div>
                <div class="teacher">
                    <div class="avatar">
                        <img data-src="Picture/fengning.png" alt=""/>
                    </div>
                    <div class="info">
                        <div class="name">培训师 - <b>风宁</b></div>
                        <div class="des">通付盾首席安全官｜负责集团内部企业安全体系建设及 APT 防御系统研发实施。多年 Linux、网络安全攻防经验。</div>
                        <div class="content"><b>培训内容：</b>现在的安全行业太过于浮躁，同时也感谢大环境影响，网络空间安全学科成立使得网络安全入门有了正规院校来培训教育，但专注于打破规则而生的一群人（黑客）是怎么成长，入门的呢？感谢 KCon 给了一次可以闭门小范围讨论的机会，我会从基础网络协议、操作系统知识、社工、攻击探测、调查取证等多个角度展开讨论—黑客到底怎么入门！</div>
                    </div>
                </div>
                <div class="join">
                    <div class="ti">[参与规则]</div>
                    <span class="term"><i class="fa fa-user" aria-hidden="true"></i> 新人</span>
                    <span class="term"><i class="fa fa-ticket" aria-hidden="true"></i> 购买 KCon-ShowCase [KCon 演讲日] 门票者可优先选择参与</span>
                    <span class="term"><i class="fa fa-users" aria-hidden="true"></i> 仅限 <span
                            class="text-primary">100</span> 人，满额为止</span>
                    <span class="term"><i class="fa fa-heart" aria-hidden="true"></i> 具备爱国、友善、自由、分享精神</span>
                </div>
            </div>
            <div class="schedule-detail">
                <div class="title">
                    <div class="en">KCon-<b>ToBeAHacker</b></div>
                    <div class="zh">安全进阶培训</div>
                </div>
                <div class="intro">
                    黑客的细分领域很多，如：Web 安全、IoT 安全、二进制安全、无线安全、移动安全、社会工程学、黑客工程化等等，每个细分领域想真的打通开窍都不是一件容易的事。这个培训会针对具体黑客细分领域来做一场由浅入深的打通。
                </div>
                <div class="teacher">
                    <div class="avatar">
                        <img data-src="Picture/404team.png" alt=""/>
                    </div>
                    <div class="info">
                        <div class="name">培训师 - <b>404 Team</b></div>
                        <div class="des">国内黑客文化浓厚的知名安全公司知道创宇神秘而核心的部门。</div>
                        <div class="content"><b>培训内容：</b>在网络空间攻防对抗里，路由器处于关键位置。本次培训将通过实际的路由器漏洞案例及 0day，系统性讲解知道创 404 Team 在路由器漏洞研究方面体系化的分析工作。通过这个由浅入深的一天（白天+晚上）培训，你可以掌握路由器漏洞挖掘与调试技巧、PoC 编写技巧、网络空间对抗技巧等。对于学员来说需要至少具备网络安全基础经验、Python 等语言的一些编码经验。</div>
                    </div>
                </div>
                <div class="join">
                    <div class="ti">[参与规则]</div>
                    <span class="term"><i class="fa fa-database" aria-hidden="true"></i> 需单独付费</span>
                    <span class="term"><i class="fa fa-users" aria-hidden="true"></i> 仅限 <span
                            class="text-primary">30</span> 人，满额为止</span>
                    <span class="term"><i class="fa fa-heart" aria-hidden="true"></i> 具备爱国、友善、自由、分享精神</span>
                </div>
            </div>

        </div>
        <div class="schedule-detail-list-nav">
    <span class="arrow arrow-prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </span>
    <span class="current">
      <b>1</b>/2
    </span>
    <span class="arrow arrow-next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
        </div>
        <a class="buy" href="#tickets">BUY NOW <i class="fa fa-play" aria-hidden="true"></i></a>
        <i class="fa fa-times close" aria-hidden="true" title="关闭"></i>
    </div>


<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>分享</strong>
    </a>
</div>

  </div>