  <div class="section section-buy-tickets">

     <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">欢迎</a>
          <a href="#arsenal">悦目</a>
          <a href="#partners">众乐</a>
          <a href="#tickets" class="active">长谈</a>
          <a href="#contact_us">我们</a>
        </div>
    </div>

    <div class="text-center"><img data-src="/timeMachine/public/static/Picture/happyConversation.png"></div>

    <div class="sec-foot-left">
        <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
    </div>

    <div class="set-top-right">
      <i class="i-logo-gray"></i>
    </div>

    <div class="content-wrapper">

        <div class="ticket-wrapper">
            <div class="choose-ticket">
                <div class="text-left middle-title">KCon-Training<span>[KCon 培训日 - 2016.08.26] 门票:</span></div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="capital-ticket ticket1">
                            <div class="ticket-co-wrapper">
                                <div>
                                    <span class="t-head">KCon-<b>HelloWorld</b></span>
                                    <span class="text-danger">仅限100人</span>
                                </div>
                                <div class="t-title">[安全入门引导培训][不含餐] &nbsp;&nbsp;<span class="sold-out">售罄</span></div>
                                <div class="text-primary">不单独售票，请购买[KCon 演讲日]门票进行报名</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <div class="capital-ticket ticket1" style="cursor:pointer;" >
                            <div class="ticket-co-wrapper">
                                <span style="display:none;" class="t-type">1</span>
                                <div>
                                    <span class="t-head">KCon-<b>ToBeHacker</b></span>
                                    <span class="text-danger">仅限30人</span>
                                </div>
                                <div class="t-title">[安全进阶培训]  &nbsp;&nbsp;<span class="sold-out">售罄</span></div>
                            </div>
                            <div class="t-price price-label text-center">3000.0</div>
                            <i class="icon-check"></i>
                        </div>
                    </div>
                    
                </div>

                <div class="text-left middle-title">KCon-ShowCase<span>[KCon 演讲日 - 2016.08.27-28] 门票:</span></div>

                <div class="row">
                    
                    <div class="col-xs-6">
                        <div class="capital-ticket ticket1" style="cursor:pointer;" >
                            <div class="ticket-co-wrapper">
                                <span style="display:none;" class="t-type">2</span>
                                <div>
                                    <span class="t-head">KCon-<b>ShowCase</b></span>
                                    <span class="text-danger">仅限100人</span>
                                </div>
                                <div class="t-title">[KCon 演讲日] [学生票] &nbsp;&nbsp;<span class="sold-out">售罄</span></div>

                            </div>
                            <div class="t-price price-label text-center">768.0</div>
                            <i class="icon-check"></i>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <div class="capital-ticket ticket1" style="cursor:pointer;" >
                            <div class="ticket-co-wrapper">
                                <span style="display:none;" class="t-type">3</span>
                                <div>
                                    <span class="t-head">KCon-<b>ShowCase</b></span>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="t-title">[KCon 演讲日] [普通票] &nbsp;&nbsp;<span class="sold-out">售罄</span></div>

                            </div>
                            <div class="t-price price-label text-center">2048.0</div>
                            <i class="icon-check"></i>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <div class="capital-ticket ticket1" style="cursor:pointer;" >
                            <div class="ticket-co-wrapper">
                                <span style="display:none;" class="t-type">4</span>
                                <div>
                                    <span class="t-head">KCon-<b>ShowCase</b></span>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="t-title">[KCon 演讲日] [普通票] [含餐]&nbsp;&nbsp;<span class="sold-out">售罄</span></div>

                            </div>
                            <div class="t-price price-label text-center">2480.0</div>
                            <i class="icon-check"></i>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <div class="capital-ticket ticket1" style="cursor:pointer;" >
                            <div class="ticket-co-wrapper">
                                <span style="display:none;" class="t-type">5</span>
                                <div>
                                    <span class="t-head">KCon-<b>ShowCase &amp; XCon</b></span>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="t-title">[通票] [含餐]&nbsp;&nbsp;<span class="sold-out">售罄</span></div>

                            </div>
                            <div class="t-price price-label text-center">5000.0</div>
                            <i class="icon-check"></i>
                        </div>
                    </div>
                    
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        你选择了：
                        <div class="purchase-selected">
                            <span id="ticket_selected"><b>请先选择门票</b></span>
                            <div class="c-counter j-counter">
                                <span class="minus">-</span>
                                <input type="text" data-min="1" data-max="5" name="ticket_number"/>
                                <span class="plus" data-toggle="tooltip" data-placement="top" title="一次限购 5 张">+</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <form id="instant_pay_form" action="/2016/ticket" method="post">
                        <input type='hidden' name='csrfmiddlewaretoken' value='AdSinEfx58mJdAn2ughA6VQJtSAixScT' />
                        <input type="hidden"  id="ticket_type" name="ticket">
                        <input type="hidden"  id="ticket_number" name="ticket_number" value="1">
                        <button type="submit" class="btn btn-pri" style="margin-top: 20px;" id="instant_purchase" disabled="true">立即购买
                        </button>
                    </form>
                </div>

            </div>

            <div class="conference-info">
                <dl>
                    <dt>参会者权益</dt>
                    <dd>
                        <ul class="list-unstyled ul-gifts">
                            <li><i class="fa fa-list-alt"></i>品味干货</li>
                            <li><i class="fa fa-users"></i>和牛人面对面</li>
                            <li><i class="fa fa-music"></i>感受摇滚</li>
                            <li><i class="fa fa-ticket"></i>KCon 黑客身份卡</li>
                            <li><i class="fa fa-suitcase" aria-hidden="true"></i>定制电脑包</li>
                            <li><i class="fa fa-gift"></i>神秘大礼</li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>大会时间</dt>
                    <dd>2016.08.26-28</dd>
                </dl>
                <dl>
                    <dt>大会地点</dt>
                    <dd>北京·燕莎中心 凯宾斯基大酒店</dd>
                </dl>
                <dl>
                    <dt>购票说明</dt>
                    <dd>
                        <ul class=" ul-tips">
                            <li>[普通票] <span class="text-primary">8</span> 折优惠，<span class="text-primary">8.10</span>
                                后恢复原价
                            </li>
                            <li>任意门票均可参加 8.27 晚[KCon 摇滚之夜]</li>
                            <li>[安全入门引导培训]仅面向根据参与理由与购票时间筛选出的100名同学</li>
                            <li><span class="text-primary">7.21</span> 后将陆续寄出门票 & KCon 黑客身份卡，并邮件提醒，请注意查收</li>
                            <li>支持发票</li>
                            <li>KCon 黑客身份卡做为大会抽奖标识，请注意携带</li>
                            <li>[学生票]请注意携带学生证签到</li>
                        </ul>
                    </dd>
                </dl>
                <div class="notes">购票成功后，信息不可更改，概不退票，感谢您对 KCon 的支持！</div>
            </div>
        </div>
    </div>

  </div>