  <div class="section section-buy-tickets">

     <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">欢迎</a>
          <a href="#arsenal">悦目</a>
          <a href="#partners">众乐</a>
          <a href="#tickets" class="active">长谈</a>
          <a href="#contact_us">我们</a>
        </div>
    </div>

    <div class="text-center"><img data-src="/timeMachine/public/static/Picture/happyConversation.png"></div>

    <div class="sec-foot-left">
        <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
    </div>

    <div class="set-top-right">
      <i class="i-logo-gray"></i>
    </div>

    <div class="content-wrapper">

<!-- 右边begin -->
        <div class="conference-info">
            <div class="imgs">
                <img src="/timeMachine/public/static/images/系徽1.jpg">
            </div>
            <div class="pinglun">
                <a class="start1" href="javascript:;"><p class="xueshu"><span class="t-head">写评论</span></p></a>
            </div>
            <div class="img1">
                <img src="/timeMachine/public/static/images/系徽1.jpg">
                &nbsp;&nbsp;
                <span class="t-head">师大长谈之-<b>学术片</b></span>
            </div>

            <!-- 模态框begin -->
            <div class="mo">
                <div class="modal fade">
                    <div class="modal-body">

                        <div class="modal-header">
                            <div class="modal-title">
                                <span>&nbsp;
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;<span class="t-head">师大长谈之-<b>学术片</b></span>
                                </span>
                                <a class="close" href="#">&times;</a>
                            </div>
                        </div>
                        <div class="modal-content">
                            <div class="xiangqing" style=" overflow:scroll; height: 550px;" >
                                <p>内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1</p>
                                <p>内容1</p>
                                <p>内容1</p>
                        <!-- 头begin -->
                            <div>
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;
                                <a class="start" href="javascript:;"><p class="xueshu"><span class="t-head">师大长谈之-<b>学术片</b></span></p></a>
                                <div class="uid">2016/8/15 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID:kndjkvnj</div>          
                            </div>
                        <!-- 头end -->
                        <!-- 内容begin -->
                            <div class="nei">
                                11111111111111118\765 412仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人
                            
                            <br>
                            <div class="changtan">
                                <div class="fu">回复</div>
                                <div class="fu1">
                                    <form  method="post" action="../index/denglu">
                                        <textarea id="xieid" name="xiename" placeholder="请在此留言...">
                                        </textarea>
                                        <button type="submit" class="btn" id="login1">提交</button>
                                    </form>
                                </div>
                            </div>

                            </div>
                        <!-- 内容end -->

                            </div>
                        </div>

                    </div>
                </div>
            <!-- 评论模态框 -->
                <div class="modal1 fade1">
                    <div class="modal-body1">

                        <div class="modal-header1">
                            <div class="modal-title1">
                                <span>&nbsp;
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;<span class="t-head">师大长谈之-<b>学术片</b></span>
                                </span>
                                <a class="close" href="#">&times;</a>
                            </div>
                        </div>
                        <div class="modal-content1">
                            <div class="xiangqing" style=" overflow:scroll; height: 550px;" >
                                <p>内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1内容1</p>
                                <p>内容1</p>
                                <p>内容1</p>
                        <!-- 头begin -->
                            <div>
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;
                                <a class="start" href="javascript:;"><p class="xueshu"><span class="t-head">师大长谈之-<b>学术片</b></span></p></a>
                                <div class="uid">2016/8/15 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID:kndjkvnj</div>          
                            </div>
                        <!-- 头end -->
                        <!-- 内容begin -->
                            <div class="nei">
                                11111111111111118\765 412仅限100人仅限100人仅限100人仅限1
                            </div>
                        <!-- 内容end -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 模态框end -->
            <div class="modal-backup"></div>
<!-- ------------------------------------------------------------- -->
        <!-- 学术begin -->
            <div class="conter1">

            <!-- 头begin -->
                <div>
                    <img src="/timeMachine/public/static/images/系徽1.jpg">
                    &nbsp;&nbsp;
                    <a class="start" href="javascript:;"><p class="xueshu"><span class="t-head">师大长谈之-<b>学术片</b></span></p></a>
                    <div class="uid">2016/8/15 &nbsp;&nbsp;&nbsp;&nbsp; ID:kndjkvnj</div>          
                </div>
            <!-- 头end -->
            <!-- 内容begin -->
                <div class="nei">
                    <div class="neirong">
                        11111111111111118\765 412仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人
                    </div>
                </div>
            <!-- 内容end -->
            <!-- 头begin -->
                <div>
                    <img src="/timeMachine/public/static/images/系徽1.jpg">
                    &nbsp;&nbsp;
                    <a class="start" href="javascript:;"><p class="xueshu"><span class="t-head">师大长谈之-<b>学术片</b></span></p></a>
                    <div class="uid">2016/8/15 &nbsp;&nbsp;&nbsp;&nbsp; ID:kndjkvnj</div>          
                </div>
            <!-- 头end -->
            <!-- 内容begin -->
                <div class="nei">
                    <div class="neirong">
                        11111111111111118\765 412仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人
                    </div>
                </div>
            <!-- 内容end -->
            <!-- 头begin -->
                <div>
                    <img src="/timeMachine/public/static/images/系徽1.jpg">
                    &nbsp;&nbsp;
                    <a class="start" href="javascript:;"><p class="xueshu"><span class="t-head">师大长谈之-<b>学术片</b></span></p></a>          
                </div>
            <!-- 头end -->
            <!-- 内容begin -->
                <div class="nei">
                    <div class="neirong">
                        11111111111111118\765 412仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人
                    </div>
                </div>
            <!-- 内容end -->

            <!-- 分页 -->
                <div>
                    <div class="tcdPageCode">
                    </div>
                </div>

            </div>
        <!-- 学术end -->

        <!-- 交友begin -->
            <div class="nei">
                <div class="conter2">
                    2222222222222228\765 412仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人
                </div>
            </div>
        <!-- 交友end -->

        <!-- 言论begin -->
            <div class="conter3">
                3333333333333338\765 412仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人

                <div>
                    <div class="tcdPageCode">
                    </div>

                </div>

            </div>
        <!-- 言论end -->

        </div>

<!-- 右边end -->

<!-- 左边begin -->
    <div class="tabs-schedule">
        <div class="ticket-wrapper">
        
            <div class="choose-ticket">
                <div class="text-left middle-title">学术片</span></div>
                <div class="row">
                    <div class="col-xs-11">
                        <div class="capital-ticket ticket1">
                            <div class="ticket-co-wrapper">
                                <div>
                                <div>
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;
                                    <a class="link j-modal-helloworld" href="#"><p class="xueshu"><span class="t-head">师大长谈之-<b>学术片</b></span></p></a>
                                </div>
                                <div class="jieshao">                               
                                    <span class="text-danger">仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人0人仅限100人仅限100人</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>                          
                </div>                
            </div>

            <div class="choose-ticket">
                <div class="text-left middle-title">学术片</span></div>
                <div class="row">
                    <div class="col-xs-11">
                        <div class="capital-ticket ticket1">
                            <div class="ticket-co-wrapper">
                                <div>
                                <div>
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;
                                    <a class="link j-modal-tobeahacker" href="#"><p class="jiaoyou"><span class="t-head">师大长谈之-<b>交友片</b></span></p></a>
                                </div>
                                <div class="jieshao">                               
                                    <span class="text-danger">仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>                          
                </div>                
            </div>

            <div class="choose-ticket">
                <div class="text-left middle-title">学术片</span></div>
                <div class="row">
                    <div class="col-xs-11">
                        <div class="capital-ticket ticket1">
                            <div class="ticket-co-wrapper">
                                <div>
                                <div>
                                <img src="/timeMachine/public/static/images/系徽1.jpg">
                                &nbsp;&nbsp;
                                    <a class="link j-modal-helloworld1" href="#"><p class="yanlun"><span class="t-head">师大长谈之-<b>言论片</b></span></p></a>
                                </div>
                                <div class="jieshao">                               
                                    <span class="text-danger">仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人仅限100人</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>                          
                </div>                
            </div>

<!-- 左边end -->
    </div>






        </div>
    </div>

  </div>
